<header class="site-header">
    <div class="container">
        <nav class="main-nav">
            <div class="logo">
                <a href="{{ url_for('index') }}" class="logo-link">Peter<span class="highlight">.</span>Odia</a>
            </div>
            
            <div class="menu-toggle" id="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            
            <ul class="nav-links" id="nav-links">
                <li><a href="{{ url_for('index') }}#about" class="nav-item">About</a></li>
                <li><a href="{{ url_for('index') }}#projects" class="nav-item">Projects</a></li>
                <li><a href="{{ url_for('index') }}#experience" class="nav-item">Experience</a></li>
                <li><a href="{{ url_for('index') }}#contact" class="nav-item contact-btn">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
